body{
    background-image:
    Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    Linear-gradient(127deg, black, black 70.71%),
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
  }
  #div1 {
      width: 80%;
      margin: auto;
  }
  .div1{
      display:inline-block;
       width: 33%;
     }

    .logo{ display: inline-block}
    .nav{ 
        list-style-type: none;
        margin-left: 27.5%;
        padding: 0%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        
    }
    ul,li,a {
        font-size: 20px;
        color: white;
display: inline-block;
text-decoration: none;
padding-left: 50px;
    }
    
    #feedback{ width: 30%; height: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        
    }
    #courses{
        display: flex;
        color: white;
        justify-content: center;
        font-size: 70px;
        text-shadow: black 5px 2px;
        font-family: serif;
    }
    #contact{
        display: flex;
        color: white;
        justify-content: center;
        font-size: 70px;
        text-shadow: black 5px 2px;
        font-family: serif;
        
    }     
    #cntct{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0px;
        
    }  
    #welcome{
        display: flex;
        margin: auto;
        padding: 0px;
        box-shadow: black 2px 2px;
    }
    .div1 a button{
        position: relative;
        bottom: 100px;
        left: 50px;
    }
    #bg{
        background-color: maroon !important;
    }